@if (questions[currentQuestion] != null) {
<div class="questions-container">
  <mat-progress-bar
    mode="determinate"
    [value]="(currentQuestion / questions.length) * 100"
    color="accent"
    class="bar"
  ></mat-progress-bar>
  <span class="question">{{ questions[currentQuestion].question }}</span>
  @for(option of questions[currentQuestion].options; track option){
  <button
    class="btn-option"
    (click)="answer(option)"
  >
    <span class="btn-text">{{ option }}</span>
  </button>
  }
</div>
} 
@else if (currentQuestion == questions.length && questions.length != 0){
  <div class="questions-container">
    <h1>Congratulations!!!</h1>
  <h1>{{correctQuestions}} / {{questions.length}}</h1>
  </div>
  
}

@if (isLoading) {
  <app-spinner/>
}
