<div class="dashboard-container">
  <div class="circle">
    <img src="../../assets/logo.png" />
  </div>
  <div class="text">
    <span>
      Our AI algorithms analyze your workforce's strengths and weaknesses to
      deliver customized training modules, ensuring every employee receives the
      guidance they need to excel in safety practices.
    </span>
  </div>
  <button
    mat-flat-button
    color="accent"
    class="btn"
    [routerLink]="['/categories']"
  >
    Start Learning
  </button>
</div>
